$main-font: 'Roboto', sans-serif;
$main-black-color: black;
$semi-black-color-one: rgba(0, 0, 0, 0.377);
$semi-black-color-two: rgba(0, 0, 0, 0.747);
$semi-black-color-three: rgba(0, 0, 0, 0.801);

$main-white: white;
